<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="{{ 'index.css' | relative_url }}" rel="stylesheet">
<link href="{{ 'assets/fontawesome/css/fontawesome.min.css' | relative_url }}" rel="stylesheet">
<link href="{{ 'assets/fontawesome/css/brands.min.css' | relative_url }}" rel="stylesheet">
<link href="{{ 'assets/fontawesome/css/solid.min.css' | relative_url }}" rel="stylesheet">
<title>{{ page.title | default: "HAE Lab" }}</title>
<link rel="icon" href="{{ 'assets/favicon.ico' | relative_url }}" type="image/x-icon">
<meta name="theme-color" content="#E0F4FF">
